:root {
    --color-bg: #F1EFE7;
    --color-text: #252823;
    --color-green: #667565;
    --color-brown: #927F67;
    --color-stone: #C8C7BD;
    --color-accent: #A84A3A;

    --page-padding: 48px;
    --page-max-width: 1400px
}

* {
    box-sizing: border-box;
}

.page-width {
    width: 100%;
    max-width: var(--page-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-nav ul {
    display: flex;
    gap: 32px;
}

.site-logo a {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
}

.site-nav a,
.site-nav a:visited {
    font-size: 14px;
    color: var(--color-text);
    position: relative;
    display: inline-block;
}

.site-nav a.active,
.site-nav a.active:visited {
    color: var(--color-accent);
}

/* Underline when hovering over the nav */
.site-nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: var(--color-accent);
    transition: width 0.3s ease;
}

/* When hovering */
.site-nav a:hover::after {
    width: 100%;
}

/* Current location */
.site-nav a.active::after{
    width: 100%;
}

.site-footer {
    border-top: 1px solid var(--color-stone);
    padding-top: 56px;
    padding-bottom: 32px;
}

.fotter-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    gap: 40px;
}

.footer-logo a {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
}

.footer-nav ul {
    display: flex;
    gap: 24px;
}

.footer-links {
    justify-self: end;
}

.footer-bottom {
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid var(--color-stone);
}

.footer-bottom p {
    margin: 0;
    font-size: 13px;
    color: var(--color-green);
}