table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 32px;
}

th, td{
    border: 1px solid #444444;
    padding: 12px;
    text-align: left;
    color: white;
}

th{
    background-color: #262626;
    font-weight: 500;
}