.workgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* 列の個数, 1列あたりのサイズ */
    gap: 24px; /* 列の間隔 */

}

.work-image{
    display: block;
    text-decoration: none;
    color: #333333;
}

.work-image img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}